@font-face {
    font-family: 'Cactus Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Cactus Regular.otf');
    src: local(''),
         url('../fonts/Cactus Regular.otf') format('embedded-opentype'),
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Cactus Regular', monospace;
    background-color: rgb(54, 54, 54);
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    background-image: url('../img/back.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.t1 {
    display: flex;
    color: #f0e676;
    text-shadow: 3px 3px 4px #000000;
    letter-spacing: 5px;
    white-space: nowrap;
}

.txtin40 {
    text-indent: 140px;
}

.txtin200 {
    text-indent: 340px;
}

.main {
    z-index: 9;
    position: relative;
}

canvas {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
                rgba(0, 0, 0, 0.3) 0px 7px 10px -3px;
    background-image: 
        url('../img/background.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.d-flex {
    display: flex;
}

.pl-30 {
    padding-left: 30px;
}

.navigation {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 4;
    width: 720px;
}

.btn {
    color: #f0e676;
    font-family: 'Cactus Regular', monospace;
    font-size: 28px;
    letter-spacing: 1px;
    text-shadow: 3px 3px 4px #000000;
    border-radius: 5px;
    padding: 10px 20px 7px 20px;
    transition: all 125ms ease-in-out;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: rgb(87, 92, 40);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.btn:hover {
    background-color: rgb(134, 143, 55);
    transition: all 125ms ease-in-out;
}

.btn:active {
    background-color: rgb(52, 54, 31);
    transform: scale(95%);
    transition: all 125ms ease-in-out;
}

.btn_play_game {
    display: block;
    z-index: 10;
}

.btn_play_again {
    display: none;
    z-index: 11;
}

.footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #00000098;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cactus Regular', monospace;
    font-weight: 100;
    font-style: italic;
    font-size: 1rem;
    color: #f0e676;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px #000000;
    text-align: center;
    z-index: 2;
}

.bottle {
    position: fixed;
    bottom: -100px;
    right: 220px;
    transform: rotate(4deg);
    z-index: 1;
}

.turn180deg {
    transform: rotate(180deg);
}

.game_over {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
}

.you_lost {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
}

.res_alert {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 1.6rem;
    color: #f0e676;
    text-shadow: 2px 2px 3px #000000;
    text-align: center;
    z-index: 2;
    letter-spacing: 4px;
}

.fullscreen {
    position: absolute;
}

.button_place {
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: 22%;
    min-width: 160px;
    max-width: 200px;
    height: 22%;
    z-index: 13;
    white-space: nowrap;
}

/* Smartphones */

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-width: 660px) {
    .footer {
        font-size: 0.7rem;

    }
}

@media only screen and (max-width: 510px) {
    .footer {
        font-size: 0.55rem;
    }
}

@media only screen and (max-width: 280px) {
    canvas {
        display: none;  
    }
    .btn {
        display: none
    }
    .res_alert {
        display: block;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}