/* Cactus Regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cactus Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Cactus Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Cactus Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Cactus Regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/Cactus Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Cactus Regular.svg#Cactus Regular') format('svg');
    /* Legacy iOS */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Cactus Regular', monospace;
    background-color: rgb(0, 0, 0);
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    background-image: url('../img/11_html_img/backg.png');
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.crt {
    position: absolute;
    width: 100%;
    filter: opacity(10%);
    min-width: 960px;
    min-height: 540px;
    object-fit: cover;
}

.t1 {
    display: flex;
    color: #E99700;
    text-shadow: 3px 3px 4px #000000;
    letter-spacing: 2px;
    white-space: nowrap;
    font-size: 8vw;
    padding-top: 20px;
}

.txtin40 {
    text-indent: 140px;
}

.txtin200 {
    text-indent: 340px;
}

.main {
    z-index: 9;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

canvas {
    display: block;
    background-image:
        url('../img/9_screens/background.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 200px;
    min-width: 300px;
    border-radius: 10px;
    object-fit: contain;
    z-index: 4;
}

.settings {
    position: static;
    display: flex;
    max-width: 900px;
    width: 100vh;
    align-items: center;
    justify-content: right;
    z-index: 1;
}

.settings_btns {
    width: 160px;
    display: flex;
    justify-content: space-around;
    border-radius: 0px 0px 10px 10px;
    background-color: #E99700;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.settings_btns img {
    width: 32px;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    transition: all 125ms ease-in-out;
}

.settings_btns img:hover {
    background-color: #f0e676a4;
    transition: all 125ms ease-in-out;
}

.settings_btns img:active {
    transform: scale(0.9);
    transition: all 125ms ease-in-out;
}

.d-flex {
    display: flex;
}

.pl-30 {
    padding-left: 30px;
}

.navigation {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 4;
    width: 720px;
}

.how_to_play {
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: right;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.863);
    width: 100%;
    max-width: 500px;
    z-index: 10;
    border-radius: 10px;
    padding: 10px 10px 10px 50px;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: burlywood;
}

.how_to_play span {
    margin-right: 50px;
}

.close_btn {
    width: 30px;
}

.how_to_play table {
    margin-right: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: right;
    color: burlywood;
}

.how_to_play h2 {
    color: #E99700;
}

.how_to_play table img {
    height: 28px;
    width: auto;
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

.how_to_play div {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

.how_to_play button {
    color: #E99700;
    font-size: 28px;
}

.how_to_play button:active {
    transform: scale(.9);
}

.keyboard {
    background-color: white;
    padding: 1px;
    border-radius: 5px;
}

.how_to_play a {
    font-size: 14px;
    color: rgba(222, 184, 135, 0.521);
}

.button_place {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    z-index: 5;
    white-space: nowrap;
}

.btn {
    color: #f0e676;
    font-family: 'Cactus Regular', monospace;
    font-size: 7vw;
    letter-spacing: 1px;
    text-shadow: 3px 3px 4px #000000;
    transition: all 125ms ease-in-out;
    cursor: pointer;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.btn:hover {
    transition: all 125ms ease-in-out;
    color: #E99700;
}

.btn:active {
    transform: scale(90%);
    transition: all 125ms ease-in-out;
}

.btn_play_game {
    display: block;
    z-index: 10;
}

.btn_play_again {
    display: none;
    z-index: 11;
}

.footer {
    position: fixed;
    height: 70px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #00000098;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cactus Regular', monospace;
    font-weight: 100;
    font-style: italic;
    font-size: 1.3rem;
    color: #f0e676;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px #000000;
    text-align: center;
    z-index: 2;
    margin-top: 50px;
}

.bottle {
    position: fixed;
    bottom: -100px;
    right: 220px;
    transform: rotate(4deg);
    z-index: 0;
}

.turn180deg {
    transform: rotate(180deg);
}

.game_over {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    border-radius: 5px;
    object-fit: cover;
}

.you_lost {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    backdrop-filter: blur(2px);
    border-radius: 5px;
    object-fit: cover;
}

.turn_phone {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    font-size: 9vw;
    color: #f0e676;
    text-align: center;
    z-index: 2;
    letter-spacing: 2px;
    width: 100%;
    line-height: 120%;
}

.turn_phone img {
    margin-bottom: 50px;
    animation: forwards;
    animation-name: turn_phone;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: 4;
}

@keyframes turn_phone {
    0% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(-110deg);
    }
}

.fullscreen {
    position: absolute;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.walk {
    display: flex;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    display: flex;
    width: fit-content;
}

.actions {
    display: flex;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99;
    display: flex;
    width: fit-content;
}

.walk img {
    width: 10vh;
    height: auto;
}

.actions img {
    width: 10vh;
    height: auto;
}

.actions img:active {
    filter: invert(0);
}

.walk img:active {
    filter: invert(0);
}

.preload_hide {
    display: none;
}

@media only screen and (min-width: 1400px) {
    .btn {
        font-size: 70px;
    }
}

/* Smartphones */

@media only screen and (max-width: 720px) {

    .walk {
        visibility: visible;
    }

    .actions {
        visibility: visible;
    }

    canvas {
        width: 100%;
    }
}

@media only screen and (max-width: 667px) {


    .footer {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 896px) and (max-height: 414px) {
    .crt {
        display: none;
    }

    .walk {
        visibility: visible;
    }

    .actions {
        visibility: visible;
    }

    canvas {
        width: 100%;
    }

    .settings {
        width: unset;
        max-width: unset;
        position: absolute;
        top: 20;
        right: 10px;
        z-index: 99;
    }

    canvas {
        border-radius: unset;
    }

    .t1 {
        display: none;
    }

    body {
        background-image: none;
    }

    .footer {
        display: none;
    }

    .bottle {
        display: none;
    }

    .walk img {
        width: 16vh;
    }

    .actions img {
        width: 16vh;
    }

}

@media only screen and (max-width: 500px) {
    canvas {
        display: none;
    }

    .btn {
        display: none
    }

    .turn_phone {
        display: flex;
    }

    .bottle {
        display: none;
    }

    .actions {
        visibility: hidden;
    }

    .walk {
        visibility: hidden;
    }

    body {
        background-image: none;
    }

    .settings {
        display: none;
    }

    .footer {
        display: none;
    }
}